.env
node_modules
.DS_Store
npm
yarn-error.log
dist
build
.vscode
.env
.idea
*.log
*.sqlite
*.sqlite3
coverage
*.test.js
*.spec.js
*.test.ts
*.spec.ts
*.iml
out
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.pid
*.seed

# Ignore Mac system files
.DS_Store
